@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --10-10-bold-font-family: "Inter", Helvetica;
  --10-10-bold-font-size: 10px;
  --10-10-bold-font-style: normal;
  --10-10-bold-font-weight: 700;
  --10-10-bold-letter-spacing: 0.1px;
  --10-10-bold-line-height: 14px;
  --12-12-med-font-family: "Inter", Helvetica;
  --12-12-med-font-size: 12px;
  --12-12-med-font-style: normal;
  --12-12-med-font-weight: 500;
  --12-12-med-letter-spacing: 0px;
  --12-12-med-line-height: 16px;
  --13-13-med-font-family: "Inter", Helvetica;
  --13-13-med-font-size: 13px;
  --13-13-med-font-style: normal;
  --13-13-med-font-weight: 500;
  --13-13-med-letter-spacing: -0.07999999821186066px;
  --13-13-med-line-height: 18px;
  --15-15-reg-font-family: "Inter", Helvetica;
  --15-15-reg-font-size: 15px;
  --15-15-reg-font-style: normal;
  --15-15-reg-font-weight: 400;
  --15-15-reg-letter-spacing: -0.13499999642372132px;
  --15-15-reg-line-height: 20px;
  --16-16-bold-font-family: "Inter", Helvetica;
  --16-16-bold-font-size: 16px;
  --16-16-bold-font-style: normal;
  --16-16-bold-font-weight: 700;
  --16-16-bold-letter-spacing: -0.17600000381469727px;
  --16-16-bold-line-height: 22px;
  --16-16-med-font-family: "Inter", Helvetica;
  --16-16-med-font-size: 16px;
  --16-16-med-font-style: normal;
  --16-16-med-font-weight: 500;
  --16-16-med-letter-spacing: -0.17600000381469727px;
  --16-16-med-line-height: 24px;
  --16-16-reg-font-family: "Inter", Helvetica;
  --16-16-reg-font-size: 16px;
  --16-16-reg-font-style: normal;
  --16-16-reg-font-weight: 400;
  --16-16-reg-letter-spacing: -0.17600000381469727px;
  --16-16-reg-line-height: 24px;
  --16-16-semib-font-family: "Inter", Helvetica;
  --16-16-semib-font-size: 16px;
  --16-16-semib-font-style: normal;
  --16-16-semib-font-weight: 600;
  --16-16-semib-letter-spacing: -0.17600000381469727px;
  --16-16-semib-line-height: 22px;
  --18-18-med-font-family: "Inter", Helvetica;
  --18-18-med-font-size: 18px;
  --18-18-med-font-style: normal;
  --18-18-med-font-weight: 500;
  --18-18-med-letter-spacing: -0.2519999957084656px;
  --18-18-med-line-height: 24px;
  --18-18-semib-font-family: "Inter", Helvetica;
  --18-18-semib-font-size: 18px;
  --18-18-semib-font-style: normal;
  --18-18-semib-font-weight: 600;
  --18-18-semib-letter-spacing: -0.2519999957084656px;
  --18-18-semib-line-height: 24px;
  --20-20-med-font-family: "Inter", Helvetica;
  --20-20-med-font-size: 20px;
  --20-20-med-font-style: normal;
  --20-20-med-font-weight: 500;
  --20-20-med-letter-spacing: -0.34000000953674314px;
  --20-20-med-line-height: 32px;
  --20-20-reg-font-family: "Inter", Helvetica;
  --20-20-reg-font-size: 20px;
  --20-20-reg-font-style: normal;
  --20-20-reg-font-weight: 400;
  --20-20-reg-letter-spacing: -0.34000000953674314px;
  --20-20-reg-line-height: 32px;
  --basic-pink: rgba(255, 90, 209, 0.9);
  --basic-tag-black: rgba(0, 0, 0, 0.7);
  --basic-white: rgba(255, 255, 255, 1);
  --basicblack: rgba(10, 10, 13, 1);
  --button-textteal: rgba(0, 113, 194, 0.8);
  --button-textyellow: rgba(204, 61, 0, 0.8);
  --cursor-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
  --dark-nav-bg: rgba(28, 22, 47, 0.2);
  --darklight-gray: rgba(114, 120, 136, 0.6);
  --darkmain-bg: rgba(10, 10, 13, 1);
  --darkprimary-text: rgba(236, 237, 238, 1);
  --gradient-text-colorsky-3c: rgba(21, 132, 235, 1);
  --gradient-text-colorsunset-2c: rgba(238, 76, 84, 1);
  --lightlight-gray: rgba(74, 87, 111, 0.7);
  --section-title-desktop-font-family: "Inter", Helvetica;
  --section-title-desktop-font-size: 14px;
  --section-title-desktop-font-style: normal;
  --section-title-desktop-font-weight: 700;
  --section-title-desktop-letter-spacing: 3px;
  --section-title-desktop-line-height: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
